.table-pdf {
    width: 100%;
    border-collapse: collapse;
}

.table-pdf th, .table-pdf td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Empêche le texte de se coller */
}

.table-pdf th {
    background-color: #f2f2f2;
    font-weight: bold;
}
